.ModalFilters_main {
    display: flex;
    justify-content: space-between;

    margin: 32px;
}

.ModalFilters_closeBtn {
    width: 20px;
    height: 20px;
    border: none;
    background: url('../images/icon_close.svg') no-repeat 50% 50%;
}

.ModalFilters_closeBtn:hover {
    border: 1px solid #EA6A2E;
}

.ModalFilters_title {
    font-size: 20px;
    margin-bottom: 10px;
}

.ModalFilters_btn {
    padding: 10px;
    margin-right: 10px;

    border: 1px solid #EA6A2E;
    border-radius: 32px;
    
    color: grey; 
    background-color: white;
}

.ModalFilters_btn:hover{
    background-color: #f0f5f5;
}

.ModalFilters_professions {
    margin-bottom: 24px;
}

.professionsBtns {
    width: 70%; 
}

.professionsBtns button {
    margin-bottom: 10px;
}

.ModalFilters_subjects{
    margin-bottom: 8px;
}

.ModalFilters_images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.ModalFilters_images img {
    width: 216px;
    height: 138px;
    margin-bottom: 16px;
}

.ModalFilters_periodCarrying {
    margin-bottom: 24px;
}

.ModalFilters_durationCarrying {
    margin-bottom: 24px;
}

.ModalFilters_complexityCarrying {
    margin-bottom: 24px;
}

.ModalFilters_city {
    margin-bottom: 24px;
}

.ModalFilters_countParticipants {
    margin-bottom: 24px;
}

.ModalFilters_range {
    background: #EA6A2E;
    width: 390px;   
    height: 2px;
    outline: none;
    transition: background 100ms ease-in;
    -webkit-appearance: none;
}

input[type='range']::-webkit-slider-thumb {
    width: 10px;
    -webkit-appearance: none;
    height: 10px;
    cursor: ew-resize;
    background: #EA6A2E;
  }

.ModalFilters_prize {
    margin-bottom: 24px;
}

.ModalFilters_organizers {
    margin-bottom: 24px;
}

.ModalFilters_sponsors {
    margin-bottom: 24px;
}

.ModalFilters_submit {
    padding: 10px;
    margin-right: 10px;

    border: 1px solid #EA6A2E;
    border-radius: 32px;
    
    color: white; 
    font-weight: bold;
    
    background: linear-gradient(90deg, rgba(234,106,46,1) 0%, rgba(233,54,115,1) 35%);
}

.ModalFilters_submit:hover {
    background: rgb(234,106,46);
}




