* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

button {
  cursor: pointer;
}

body {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.App {
  width: 1920px;
}

.active {
  color: red;
}

.container {
  width: 1920px;
}

.wrap {
  display: flex;
  justify-content: space-around;
  align-items: center;

  font-size: 100px;
  font-weight: bolder;

  margin: 100px 0;
}

.gray_descr_text {
  font-size: 14px;
  color: #8D8D8D;
}

.mainHeader {
  height: 360px;

  display: flex;
  align-items: center;
  justify-content: center;

}

.mainHeader_header {
  color: #E93673;
  font-size: 54px;
}

.mainSearch {
  width: 1194px;

  position: relative;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mainSearch_search {
  min-height: 49px;
  border: 1px solid #E93673;
  border-radius: 32px;

  display: flex;
  justify-content: center;
  align-items: center;

}

.mainSearch_search_input {
  width: 1170px;
  font-size: 14px;
  padding-left: 20px;
}

.mainSearch_search_input:focus {
  border: none;
  outline: none;
}

.mainSearch_search_submit {
  width: 16px;
  height: 16px;
  border: none;
  margin-right: 20px;
  background: url('./images/icon_search.svg') no-repeat 50% 50%;
}

.mainSearch_filters {
  margin-top: 16px;
  margin-bottom: 24px;

  min-height: 35px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mainSearch_filters_selects select {
  margin: 0 20px;
  padding: 10px;

  border: 1px solid #EA6A2E;
  border-radius: 32px;

  background-color: white;
}

.mainSearch_filters_btn {
  font-weight: bold;

  padding: 10px;

  border: 1px solid #EA6A2E;
  border-radius: 32px;

  background-color: white;
}

.mainSearch_filters_btn:hover {
  background-color: #8D8D8D;
}

.modalFilters {
  margin: 5% auto;
  width: 1194px;
  height: 80%;

  background: linear-gradient(90deg, rgba(212,210,209,1) 0%, rgba(180,180,180,1) 99%);
  overflow: auto;
}

.mainContent {
  width: 100%;
}

#commands_btn {
  background: linear-gradient(90deg, rgba(233,54,115,1) 0%, rgba(234,106,46,1) 99%);
  color: white;
}


